* {
	font-family: 'Secular One', "Baloo 2", cursive;
	--main: #101020;
	--bg: #212144;
	--color: #8e8eab;
	--accent: #27b5ff;
	--shadow: 0px 14px 14px 2px #03001733;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	opacity: 0;
	width: 0.2em;
	height: 0;
}

::-webkit-scrollbar-thumb {
	border-radius: 100vw;
	background-color: var(--main);
}

a {
	all: unset;
}

body {
	text-align: center;
	display: grid;
	place-content: center;
	max-width: 100vw;
	max-height: 100vh;
	padding: 2rem 0;
	background: var(--bg);
	color: var(--color);
}

#app {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#app > h1 {
	position: absolute;
	top: 1rem;
	left: 3rem;
	right: 0;
}

.bar {
	width: 10%;
	height: 96%;
	background: var(--main);
	box-shadow: var(--shadow);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: .8rem 0;
	margin: 2% 0.6rem;
	border-radius: 0.5rem;
}

#main {
	width: calc(100% - 4rem);
	height: 100%;
	padding: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 4rem;
}

.drag {
	background: #8e8eab4a;
}

.material-icons {
	display: block;
	pointer-events: none;
}

.pair {
	display: inline;
	cursor: pointer;
}

select {
	color: red;
}

.effect {
	opacity: 0.5;
	pointer-events: none;
}

.compare {
	position: fixed;
	top: 2rem;
	right: 2rem;
	cursor: pointer;
}

.icons {
	position: fixed;
	top: 2rem;
	left: 10%;
	right: 4rem;
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.right {
	position: fixed;
	top: calc(50% - 3.5em);
	right: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

#download {
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	cursor: pointer;
}

img {
	max-height: 75vh;
	max-width: 100%;
}

.img {
	position: relative;
	max-width: 100%;
	max-height: 100%;
}

#delete {
	content: "";
	position: absolute;
	top: -2em;
	left: 0;
	border-radius: 0.4rem;
	padding: 0.3rem;
	background: var(--main);
	color: var(--color);
	z-index: 3;
	/* opacity: 0.4; */
	cursor: pointer;
}

#delete > span {
	font-size: 1.1em;

}

.point-none {
	pointer-events: none;
}



label {
	cursor: pointer;
	pointer-events: all;
}

.icon {
	font-size: 0.6rem;
	cursor: pointer;
}

/* slider */
.sliderdiv {
	position: fixed;
	bottom: 1.5rem;
	left: 0;
	right: 4rem;
	margin-left: 10vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: .5rem;
}

.slider {
	position: relative;
	width: 500px;
	height: 5px;
}

.track {
	background: var(--color);
	height: 2px;
	width: 100%;
	border-radius: 10rem;
}

.thumb {
	position: absolute;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: var(--accent);
	top: -10px;
}


.hidden {
	display: none;
}