* {
	font-family: "Secular One", "Baloo 2", cursive;
	--main: #3ab8bdd8;
	--bg: #101020;
	--color: #c3c3d1;
	--accent: #fff;
	--shadow: 0px 14px 14px 2px #03001733;
	--grad: linear-gradient(90deg, var(--bg) 23%, var(--bg) 30%, #41cfd427 100%);
	--gradv: linear-gradient(
		180deg,
		var(--bg) 23%,
		var(--bg) 30%,
		#41cfd427 100%
	);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	opacity: 0;
	width: 0.2em;
	height: 0;
}

::-webkit-scrollbar-thumb {
	border-radius: 100vw;
	background-color: var(--main);
}

a {
	all: unset;
}

body {
	text-align: center;
	display: grid;
	place-content: center;
	max-width: 100vw;
	max-height: 100vh;
	padding: 2rem 0;
	background: var(--bg);
	color: var(--color);
}

#app {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h2 {
	position: absolute;
	top: 1rem;
	left: 3rem;
	right: 0;
}

.bar {
	width: 10%;
	height: 96%;
	background: var(--main);
	box-shadow: var(--shadow);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 0.8rem 0;
	margin: 2% 0.6rem;
	border-radius: 0.5rem;
	color: var(--bg);
}

#main {
	width: calc(100% - 4rem);
	height: 100%;
	padding: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 4rem;
}

.plus {
	font-size: 2.5em;
	font-weight: 800;
	display: block;
}

.drag {
	background: #8e8eab4a;
}

.material-icons {
	display: block;
	pointer-events: none;
}

.pair {
	display: inline;
	cursor: pointer;
}

.pair:hover {
	color: #fff;
}

select {
	color: red;
}

.effect {
	opacity: 0.5;
	pointer-events: none;
}

.compare {
	position: fixed;
	top: 2rem;
	right: 2rem;
	cursor: pointer;
}

.compare:hover {
	color: #fff;
}

.icons {
	position: fixed;
	top: 2rem;
	left: 10%;
	right: 4rem;
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.icon:hover {
	color: #fff;
}

.right {
	position: fixed;
	top: calc(50% - 3.5em);
	right: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.rbg {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	background-image: var(--grad);
	width: 10rem;
	z-index: -1;
}

#download {
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	cursor: pointer;
}

#download:hover {
	color: #fff;
}

img {
	max-height: 75vh;
	max-width: 100%;
}

.img {
	position: relative;
	max-width: 100%;
	max-height: 100%;
}

#delete {
	position: absolute;
	top: -2em;
	left: 0;
	border-radius: 0.4rem;
	padding: 0.3rem;
	background: var(--main);
	color: var(--bg);
	z-index: 3;
	opacity: 0;
	cursor: pointer;
}

#loading {
	position: absolute;
	top: -2em;
	right: 0;
	border-radius: 0.4rem;
	padding: 0.3rem;
	color: var(--color);
	z-index: 3;
	opacity: 0;
	pointer-events: none;
	animation: loading 1s linear infinite;
}

@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#delete:hover {
	opacity: 1;
}

#delete > span {
	font-size: 1.1em;
}

.point-none {
	pointer-events: none;
}

label {
	cursor: pointer;
	pointer-events: all;
}

.icon {
	font-size: 0.6rem;
	cursor: pointer;
}

/* slider */
.sliderdiv {
	position: fixed;
	bottom: 1.5rem;
	left: 0;
	right: 4rem;
	margin-left: 10vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 0.5rem;
}

.slider {
	position: relative;
	width: 500px;
	height: 5px;
}

.track {
	background: var(--color);
	height: 2px;
	width: 100%;
	border-radius: 10rem;
}

.thumb {
	position: absolute;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: var(--accent);
	top: -10px;
}

.hidden {
	display: none;
}

@media screen and (max-width: 800px) {
	h2 {
		display: none;
	}
	#app {
		flex-direction: column;
	}
	.bar {
		width: 96%;
		height: 10%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		overflow-x: scroll;
	}
	img {
		max-height: 68vh;
		max-width: 100%;
	}
	#download,
	.right,
	#compare {
		top: unset;
		right: unset;
		bottom: 1rem;
	}

	#download {
		right: 1rem;
	}

	#compare {
		left: 1rem;
	}

	.crop, .sharpen {
		display: none;
	}

	.right {
		flex-direction: row;
	}

	#main {
		margin-right: 0;
		margin-bottom: 4rem;
		padding: 2rem 0 1rem 0;
	}
	.rbg {
		bottom: 0;
		left: 0;
		right: 0;
		top: 90%;
		width: unset;
		background-image: var(--gradv);
	}
	.sliderdiv {
		bottom: 4rem;
		top: unset;
		right: unset;
		left: unset;
		margin-left: unset;
		width: 80%;
	}
	.slider {
		position: relative;
		width: 100%;
		height: 5px;
	}
}
